.sign-in{
    width: 360px;
    display: flex;
    flex-direction: column;

    .title{
        margin: 0;
    }

    .btn-group{
        display: flex;
        justify-content: space-between;
    }
}
