.cart-dropdown{
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    top: 80px;
    z-index: 5;
    right: 80px;

    .cart-items{
        height: 240px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;

        .empty-cart{
            font-size: 1.2rem;
            color: #888888;
            margin: 50px auto;
        }

    }

    button{
        margin-top: auto;
    }
}